// Color Scheme

// First Color Scheme
$white: #FFF;
$platinum: #E6E7E7;
$ligt-gray: #D1D1D1;

// Second Color Scheme
$fuzzy-wuzzy: #e56353;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;

// Third  Color Scheme
$black-eeriety: #121619;
$black-raisin: #222323;
$nickel: #6C6E70;

