.footer {
    background-color:  $black-eeriety;
    &__logo  {
        
        color: $white;
        height: 34px;
        width: 122px;
        padding: 5rem 0;
        display: block;
        margin: 0 auto;
    }

}