.header  {
    background-color:  $black-eeriety;
    color: $white;
    text-decoration: none;
    padding: 0 2rem;
    &__imagen   {
        height: 46px;
        width: 79px;
    }
    &__link {
        color: $white !important;
        font-family: $roboto;
        font-weight: $regular;
        font-size: $medium;
    }
}

