.hero-section {
    text-align: center;
    background-image: url('/assets/img/post-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    text-shadow: 0.125em 0.25em 0.125em #707070;
    height:100vh;
    width: auto;
   
    &__titulo {
      font-family: $playfair;
      font-weight: $black-italic;
      font-size:8vh;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);      
    } 
    &__icono{
      position: absolute;
      top: 95%;
      left: 50%;
      transform: translate(-50%, -50%);
    }   
  }

  

